// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-zambezi: #655858;
$color-calico: #deb887;
$color-cutty-sark: #4b7777;
$color-orange-peel: #ff9800;
$color-gorse: #ffeb3b;
$color-cape-palliser: #9c6f46;
$color-concrete: #f2f2f2;
$color-fruit-salad: #4caf50;
$color-red: #ff0000;
$color-green: #008000;
$color-alabaster: #fafafa;
$color-scooter: #34cad0;
$color-macaroni-cheese: #ffae72;
$color-tango: #ea7c2d;
$color-breaker-bay: #5f9ea0;
