.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 1;
    border-radius: 0.9rem;
    background-color: $color-alabaster;
    width: 500px;
    height: 500px;

    @include resolution(tablet) {
        width: 380px;
    }
    @include resolution(big-mobile) {
        width: 320px;
    }
    @include resolution(mobile) {
        width: 280px;
    }
}

.Active {
    transform: translate(-50%, -50%) scale(1);
}

.CloseBtn {
    position: absolute;
    top: -45px;
    right: -45px;
    font-size: 38px;
    color: $color-white;
    cursor: pointer;
}
