.App {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
}

.OrangeTheme {
    background: #ea7c2d;
    transition: background 0.5s;
}

.StandartTheme {
    background: cadetblue;
    transition: background 0.5s;
}
